<head>
  <link rel="stylesheet" href="/style.css" />
</head>
<title>Dashboard</title>
<body>
<div class="topNav">
 <img src="/static/logo-solo.png" style="width: 50px; height: 50px; float: left; margin-left: 30px;"> 
 <p style="float: left; color: white; font-family: Arial, Helvetica, sans-serif; margin-left: 10px;"><b>Intelligent Resume Classifier</b></p>
  <p style="float: right; color: white;">{{username}}</p>
</div>
  <div class="bg-image">
  </div>
  <div class="content-item" >
    <h1 style="color: black">Select Option:</h1>
 
  <a href="/cvrate" style="background-color:rgba(0, 17, 253, 0.76); margin-top: 10 px;"> Rate CV </a> <br />
  <a href="/upload" style="background-color:rgba(0, 17, 253, 0.76); margin-top: 10 px;"> Upload a CV </a> <br />
  <a href="/linkedin" style="background-color:rgba(0, 17, 253, 0.76); margin-top: 10 px;"> Upload using LinkedIn ID </a> <br />
</div>
</body>
